html,
body{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   font-family: 'Poppins', sans-serif;
   background-color:#7ca0a3;

   display: flex;
   justify-content: center;
   align-items: center;

   overflow: hidden;
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
}

input{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 10px;
    height:2em;
    width: 300px;
    padding-left: 15px;
}

#wrapper{
    background-color:#1f2029;
    border-radius:10px;
    padding:30px;
    max-width: 90%;
    box-sizing: border-box;
}

button{
    background-color:#ffeba7;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 15px;
    letter-spacing: 0.5px;
    border: none;
    color: #102770;
    cursor: pointer;
}


.btn-group1{
    display: flex;
    justify-content: center;
    gap: 20px;        /* space between buttons */
    margin-top: 20px;
    background: none; /* IMPORTANT */
}



#result{
    color:rgb(233, 231, 231);
    margin-top:20px;
    font-size:32px;
}
